@import url("https://fonts.googleapis.com/css2?family=Macondo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  user-select: none;
}

header {
  font-family: "Macondo", cursive;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 10vh;
}
header h1 {
  font-size: 3rem;
}
header hr {
  width: 700px;
}
main {
  width: 100vw;
  height: 83vh;
  overflow: hidden;
}
.screen-game {
  position: absolute;
  left: 0;
  top: 10vh;
  display: none;
  font-family: "Roboto", sans-serif;
}
.active {
  display: flex;
}

.game-container {
  height: 83vh;
  width: 75vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.game-container .board {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
  height: 460px;
  width: 460px;
  margin-left: calc(100vw - (50vw + 230px));
}
.tile {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 1px solid gray;
  height: 50px;
  width: 50px;
  border-radius: 2px;
  color: blue;
  font-weight: 900;
}
.black-number {
  color: black;
  font-weight: 400;
}

.number-error {
  color: #fff;
  font-size: 900;
  background: linear-gradient(
    0deg,
    rgb(247, 128, 128),
    rgb(250, 97, 97),
    rgb(247, 128, 128)
  );
  border: 3px solid rgb(250, 97, 97);
}
.number-error-animated {
  animation: error 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
@keyframes error {
  20% {
    transform: scale(1.5) rotate(45deg);
  }
  40% {
    transform: scale(2);
  }

  0% {
    transform: scale(1.5) rotate(-45deg);
  }
}
.tile-board {
  background-color: rgb(223, 223, 223);
}
.tile-selected {
  border: 2px solid black;
}
/* .tile-selected-black{
    border: 3px solid black;

} */
.tile:hover {
  border: 4px solid black;
}
.tile-digits {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 1px solid gray;
  height: 50px;
  width: calc((460px - 60px) / 9);
  border-radius: 2px;
  font-size: 1.4rem;
  margin-right: 1px;
}
.tile-digits:hover {
  border: 3px solid black;
}

.game-container .digits {
  display: flex;
  width: 460px;
  height: 50px;
  margin-top: 5px;
  margin-left: calc(100vw - (50vw + 230px));
}
.game-container .digits .btn-remove {
  background-color: #f32b6e;
  width: 60px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.7rem;
  font-weight: 900;
  color: aliceblue;
  cursor: pointer;
  border-radius: 2px;
  border-radius: 1px solid gray;
}

.addons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 25vw;
}
.addons-container .addons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 200px;
  color: gray;
}
.addons-container .addons span {
  font-size: 1em;
  font-weight: 900;
  letter-spacing: 2px;
  padding-top: 10px;
  color: black;
}

.addons-container .addons .btn-pause {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 200px;
  cursor: pointer;
  border-radius: 20px;
  border: 1px solid black;
  color: black;
  font-size: 1.5em;
}

footer {
  font-family: "Roboto", sans-serif;
  height: 7vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .developer {
  margin-left: 40px;
}
footer .developer p {
  font-size: 0.9em;
  color: gray;
}
footer .developer p span {
  color: black;
}
footer .developer p a {
  text-decoration: none;
  color: black;
}
footer .social-media {
  margin-right: 40px;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6vh;
  width: 6vh;
}
footer .social-media a {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}
footer .social-media a img {
  width: 90%;
  height: 90%;
}

.start-container {
  display: grid;
  place-items: center;
  height: 83vh;
  width: 100vw;
}
.active2 {
  display: none;
}

.start-screen {
  height: 300px;
  width: 300px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border: 1px solid #444;
  background: linear-gradient(
    #fff,
    rgb(226, 224, 224),
    rgb(231, 231, 231),
    #fff
  );
}
.start-screen input {
  height: 50px;
  width: 90%;
  border: none;
  border-radius: 5px;
  text-align: center;
  font-size: 1.4em;
  border: 1px solid #444;
}
.error {
  border-color: red;
  color: red;
  animation: zumbido 0.5s;
}
@keyframes zumbido {
  0%,
  100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(5px);
  }
  50% {
    transform: translateX(-5px);
  }
}
.start-screen div {
  height: 50px;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  font-size: 1.2em;
  font-weight: 700;
  border: 1px solid #444;
  cursor: pointer;
}
.pause-container {
  display: none;
  place-items: center;
  height: 83vh;
  width: 100vw;
}
.winGame-container {
  display: none;
  place-items: center;
  height: 83vh;
  width: 100vw;
}
.winGame-screen {
  height: 500px;
  width: 600px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border: 1px solid #444;
  background: linear-gradient(
    #fff,
    rgb(226, 224, 224),
    rgb(231, 231, 231),
    #fff
  );
}
.winGame-screen div.new-game {
  height: 60px;
  width: 60%;
  display: grid;
  place-items: center;
  border-radius: 10px;
  font-size: 1.2em;
  font-weight: 700;
  border: 1px solid #444;
  cursor: pointer;
}
.winGame-screen .results {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 70%;
}
.winGame-screen .results h2 {
  font-family: "macondo";
  font-size: 6em;
  text-align: center;
}
.winGame-screen .results div {
  margin-left: 20px;
  font-size: 3em;
  margin-top: 30px;
}
.winGame-screen .results div span {
  color: #444;
  margin-left: 40px;
}

.active3 {
  display: grid;
}
.pause-screen {
  height: 300px;
  width: 300px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border: 1px solid #444;
  background: linear-gradient(
    #fff,
    rgb(226, 224, 224),
    rgb(231, 231, 231),
    #fff
  );
}
.pause-screen div {
  height: 50px;
  width: 60%;
  display: grid;
  place-items: center;
  border-radius: 10px;
  font-size: 1.2em;
  font-weight: 700;
  border: 1px solid #444;
  cursor: pointer;
}
.leaderboard-container {
  margin-top: 5px;
  height: 83vh;
  width: 100vw;
  overflow-y: scroll;
}
.leaderboard-container .btn-back {
  display: grid;
  place-items: center;
  margin: 10px;
  height: 30px;
  border-radius: 5px;
  cursor: pointer;
  border: 2px solid black;
  width: 100px;
  letter-spacing: 2px;
  font-weight: 700;
}

.leaderboard-screen {
  display: flex;
  height: 100%;
  margin: 15px 50px;
  font-size: 2em;
}
.leaderboard-screen .pos {
  text-align: center;
  width: 10%;
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-top: 2px solid black;
  display: flex;
  flex-direction: column;
}
.leaderboard-screen .score-table {
  text-align: center;
  width: 40%;
  border-right: 2px solid black;
  border-top: 2px solid black;
  display: flex;
  flex-direction: column;
}
.leaderboard-screen .mistakes-table {
  text-align: center;
  width: 10%;
  border-right: 2px solid black;
  border-top: 2px solid black;
  display: flex;
  flex-direction: column;
}
.leaderboard-screen .name-table {
  text-align: center;
  width: 30%;
  border-right: 2px solid black;
  border-top: 2px solid black;
  display: flex;
  flex-direction: column;
}
.leaderboard-screen .level-table {
  text-align: center;
  width: 15%;
  border-right: 2px solid black;
  border-top: 2px solid black;
  display: flex;
  flex-direction: column;
}

.leaderboard-screen span {
  margin-top: 20px;
  color: grey;
}

.btn-hints span{
  margin-left: 10px;
  font-weight: 800;
  
  
}
